.idea/
.vscode
.cache/
.pytest_cache/
.html/
.report/
__pycache__/

pages/*
!/pages/__init__.py
!/pages/via

testcases/*
!testcases/base_test.py
!testcases/pytest.ini

resources/webdrive/*

config.ini
poetry.lock
