[[source]]
name = "pypi"
#url = "https://pypi.org/simple"
url = "https://mirrors.aliyun.com/pypi/simple/"
#url = "https://pypi.douban.com/simple/"
verify_ssl = true

[dev-packages]

[packages]
uiautomator2 = "*"
adbutils = "*"
weditor = "*"
pylint = "*"
sqlalchemy = "*"
sshtunnel = "*"
cx-oracle = "*"
jsonpath = "*"
orjson = "*"
pytest = "*"
pytest-html = "*"
pytest-dependency = "*"
pytest-ordering = "*"
pytest-sugar = "*"
allure-pytest = "*"

[requires]
python_version = "3.7"
